.card {
  background-color: #2D8CFF;
  padding: 10px;
  border-radius: 10px;
  color: white;
  border-top: 400px;
  align-content: center;
  margin: auto;
  width: 40%;
  display: block;
  text-align: center;
}

.card .new {
  height: 150px;
}

.card .show {
  height: 200px;
}

.info {
  text-align: center;
}
.header {
  background-color: #2D8CFF;
  color: white;
  padding: 3px 10px;
  margin-bottom: 50px;
  border-radius: 10px;
}