.card {
  background-color: #2D8CFF;
  padding: 10px;
  border-radius: 10px;
  color: white;
  border-top: 400px;
  align-content: center;
  margin: auto;
  width: 40%;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.card .new {
  height: 150px;
}

.card .show {
  height: 200px;
}

.card .bad {
  background-color: red;
}

.card .okay {
  background-color: rgb(185, 185, 3);
}

.card .great {
  background-color: green;
}

/*.tips-bad {
  color: red;
  text-align: center;
  margin-bottom: 50px;
}  */

.bad {
  color:white;
  text-align: center;
  margin-bottom: 50px;
  list-style-position: inside;
  background: rgb(41, 41, 41);
  border-radius: 20px;
  margin-bottom: 20px;
}

.okay {
  color:black;
  text-align: center;
  margin-bottom: 50px;
  list-style-position: inside;
  background: rgb(41, 41, 41);
  border-radius: 20px;
  margin-bottom: 20px;
}

.great {
  color:white;
  text-align: center;
  margin-bottom: 50px;
  list-style-position: inside;
  background: rgb(41, 41, 41);
  border-radius: 20px;
  margin-bottom: 20px;
}


.header {
  background-color: #2D8CFF;
  color: white;
  padding: 3px 10px;
  margin-bottom: 50px;
  border-radius: 10px;
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  text-align: center;
  border-collapse: collapse;
  width:70%; 
    margin-left:15%; 
    margin-right:15%;

}

th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  background-color:#2D8CFF; 
  color:white;
}

tr:nth-child(even) {
  background-color: #dddddd;
} 
tr:nth-child(odd) {
  background-color: #FFFFFF;
} 

.info {
  background-color: #2D8CFF;
  color: white;
  padding: 3px 10px;
  margin-bottom: 1px;
  border-radius: 10px;
  text-align: center;
}

.easy-table {
  border-collapse: collapse;
  font-size: 1em;
  min-width: 500px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  font-family: arial, sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.easy-table thead tr {
  background-color: rgb(58, 58, 58);
  color: #ffffff;
  text-align: center;
}

.easy-table th, 
.easy-table td {
  padding: 12px 15px;
  border: 1px solid #dddddd;
}

.easy-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.easy-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.easy-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

html {
  background-color: #000000;
}

.body {
  background-color: #000000;
}

.field {
  padding-bottom: 25px;
  font-size: 20px;
}

.form-val {
  background-color: #525252; 
  border: 2px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px
}

.col1 {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px; 
  font-size: 100%;
  display: flex;
}

.row1 {
  display: grid;
  grid-template-rows: 100px 100px;
  grid-template-columns: 500px 500px;
  grid-gap: 10px;
  color: #444;
  justify-content: center;
}

.final-header {
  color: whitesmoke;
  text-align: center;
}