<h1>Password Evalutation Page</h1>
<h2>Strength of password - ""</h2>
<p style="color:#00FF00">Good</p>
<p style="color:#CFB53B">Medium</p>
<p style="color:#FF0000">Bad</p>
<p>Overall PassScore - ""</p>